# Python module requiremnts
#
# Install with:
#   pip install -r requirements.txt
#
Pillow == 8.4.0
# Needed for building releases and exported bundles
GitPython == 3.0.5
gitdb2 == 3.0.1
gitdb == 4.0.1
PyInstaller ==4.10